@{
    Layout = "~/_SiteLayout.cshtml";
    var noticiaId = Request["id"].AsInt();
    if (noticiaId == 0)
    {
        Response.Redirect("~/");
    }

    var db = Database.Open("Database");
    var noticia = db.QuerySingle("SELECT * FROM Noticias WHERE Id = @0", noticiaId);
}

@if (noticia != null)
{
    <h2>@noticia.Titulo</h2>
    <p>@noticia.Fecha.ToString("dd/MM/yyyy")</p>
    <p>@noticia.Texto</p>
    <a href="~/">Volver a la lista de noticias</a>
}
else
{
    <p>Noticia no encontrada.</p>
}