<h4>Contacto</h4>

<div>
    <div>Nombre: @nombre</div>
    <div>Mail: @mail</div>
</div>

@code {
    [Parameter]
    public String? nombre { get; set; }
    [Parameter]
    public String? mail { get; set; }
}
